.card {
    padding: 50px;
    margin-top: 20px;
    width: 85%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 20px rgba(25, 25, 25, 0.3);
    position: relative;
    left:50%;
    transform: translateX(-50%);
}

.row {
    margin-top: 80px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.left_column {
    float: left;
    width: 35%;
}

.right_column {
    float: left;
    width: 65%;
}